.nav{
    background: #673AB7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #512DA8, #673AB7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #512DA8, #673AB7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav__container{
    padding: 10px;
}

.nav__logo--container,.nav__search-box--container,.nav__login-opt--container{
    vertical-align: middle;
}

.nav__logo--container{
    display: inline-block;
    width: 25%;
    img{
        width: 100%;
        height: 60px;
    }
}

.nav__search-box--container{
    display: inline-block;
    width: 50%;
    input{
        width: 100%;
        text-align: center;
        height: 100%;
        padding:2%;
        border:1px solid gray;
        outline-color:black;
        font-size: 100%;
        text-align: left;
    }
}

.nav__login-opt--container{
    display: inline-block;
    width: 25%;
    .nav__login--options{
        li{
            display: inline-block;
            width: 50%;
            text-align: center;
            font-family: 'Source Sans Pro';
        }
        .nav__option--format{
            text-decoration: none;
            cursor: pointer;
            color: white;
        }
    }
}